
#newest-post {
	margin-top: 90px;
}

@media screen and (max-width: 1200px) {
	#newest-post {
		margin-top: 170px;
	}
}

@media screen and (max-width: 550px), 
screen and (max-device-width: 480px) {
	#newest-post {
		margin-top: 80px;
	}
}

/*#newest-post .post-summary {
	padding: 20px;
}*/

.post-summary {
	background: hsl(238, 16%, 99%);
	box-shadow: 0 0px 4px rgba(0,0,0,0.75);
	min-width: 280px;
	max-width: 400px;
/*	max-height: 300px;*/
	display: inline-block;
	padding: 20px;
	vertical-align:top;
	position: relative;
	margin: 40px 40px 0 0;
	
	border: 10px solid hsl(208, 8%, 75%);
}

#more-posts .post-link:last-child .post-summary {
	margin-bottom: 100px;
}

#newest-post .post-summary,
#more-posts .post-link:nth-child(4n+4) .post-summary {
	border-color: #feba00;
}

#more-posts .post-link:nth-child(4n+1) .post-summary {
	border-color: #40a4e5;
}


.post-summary h1 {
	width: 100%;
	line-height: 100%;
	font-size: 24px;
	text-align: left;
	font-weight: 700;
	color: #2f3741;
	margin-bottom: 25px;
}

.post-link {
	text-decoration: none;
	color: #2f3741;
	display: inline-block;
}


#newest-post h1 {
	font-size: 34px;
	letter-spacing: 100%;
	font-weight: 800;
	margin-bottom: 50px;
/*	background: red;*/
	width: 570px;
	display: inline-block;
	margin-top: 0;
}

#newest-post .post-summary {
	font-size: 18px;
	padding: 30px;
}

#newest-post, 
#more-posts {
	text-align: center;
}

#more-posts {
	padding: 5px;
	margin-top: 40px;
}

#newest-post .post-summary {
	width: 100%;
	max-width: 700px;
	margin: auto;
}

.post-summary time {
	float: right;
	font-size: 24px;
	font-weight: 400;
	line-height: 120%;
	text-align: right;
	display: inline-block;
}

.center-shadow
{
	position:relative;
}
.center-shadow:after
{
	content:"";
	position:absolute;
	z-index:-1;
	box-shadow:0 8px 10px rgba(0,0,15,1.0);
	top:50%;
	bottom:0;
	left:10px;
	right:10px;
	border-radius:50% / 15px;
}


/* 
All the styling above here is unfinished and deals with the start page
 */ 


/*
TODO:
 [ ] New design for index/archive page
 [ ] Adapt post style for iPad portrait and iPhone
 [ ] Less fancy print style for posts
*/



html {
	text-rendering: optimizeLegibility;
}

body {
	margin: 0;
	padding-right: 0;
	
	background: hsl(228, 16%, 96%); /*blue*/
	color: hsl(208, 25%, 18%);
	
	vertical-align: baseline;
	
	-webkit-hyphens: auto;
	-webkit-hyphenate-limit-before: 2;
	-webkit-hyphenate-limit-after: 3;
	text-align: justify;
	
	font-family: "Avenir Next", "Lucida Grande", "Lucida Sans", "Arial";
}

/* @group Headings */

h1, h2 {
	line-height:1.1em;
	margin-top:32px;
	margin-bottom:12px;
	text-align: left;
}

h1 {
	font-size: 34px;
}

h1:first-child {
	margin-top:0;
}

h3, h4, h5, h6 {
	margin-top:12px;
	margin-bottom:6px;
	text-align: left;
}

h5, h6 {
	font-size:0.9em;
	line-height:1.0em;
	margin-bottom:0;
}

h1, h2, h3, h4 {
	-webkit-hyphens: none;
}

/* @end */

p {
	margin:0 0 24px 0;
}

em {
	padding: 0 2px;
}

strong {
	font-weight: 500;
}



/*--[ LINKS ]---------*/
article a {
text-decoration: none;
color: hsl(208, 66%, 56%);
}

a:hover {
text-decoration: underline;
}

article {
	text-align: justify;
	margin: 0 auto;
	max-width: 610px;
	min-width: 296px;
	width: 100%;
	position: relative;

}

/* Cover everything and hide the overflowing orange and blue rectengles*/
#main {
	margin: 0;
	overflow: hidden;
}

/* @group Post header */

/* Header for posts with a rectangle and shapes for  */
.title-header {
	-webkit-transform: rotate(-16.4deg);
	top: 100px;
	left: -40px;
	position: relative;
	width: 700px;
	margin-bottom: 200px;
}

.title-header > h1 {
	position: relative;
	right: 20px;
	top: 0;
	
 	color: #303841;
	text-align: left;
	font-weight: 900;
	font-size: 80px;
	
	text-align: right;
	display: block;
	
	width: 700px;
	
	letter-spacing: 0.9;
/*	background: white;*/
	padding-right: 20px;
	margin-right: 20px;
	padding-top: 12px;
}


 
/* @group Post header blue & orange rectangles */

#top-blue-rect,
#top-orange-rect {
	position: absolute;
	display: inline-block;
}

#top-blue-rect {
	background: #4aa5e3;
	width: 2750px;
	height: 500px;
	right: 0px;
	top: -500px;
}
 
#top-orange-rect {
	color: #303841;
 	width: 700px;
 	height: 2700px;
	background: #ffb900;
	right: -700px;
	top: 0px;
}

/* Post date label */
#top-orange-rect p {
	font-weight: 100;
	font-size: 32px;
	padding: 20px;
	line-height: 1.3;
}

/* @end */

/* @group Logo */

#DR-logo {
	position: absolute;
	left: 20px;
	top: 20px;
	z-index: 10;
}

/* Setting the color of the logo */
#D, #R {
	fill: #40a4e5;
}

.post-logo #D,
.post-logo #R {
	fill: #f3f3f7;
}

/* @end 

/* @end */

.math {
/*	font-size: 14px;*/
	background-color: #fcfcfc;
	border-radius: 3px;
	padding: 1px 3px;
	-webkit-hyphens: none;
	
	
}

pre > .math {
/*	width: %;*/
	padding: 7px 10px;
	margin: 10px 15px;
	font-size: 15px;
	display: block;
}

/* @group Figures */

figure {
background: white;
width: 550px;
min-height: 100px;
margin: 24px auto 55px;

border: 1px solid #AAA;
box-shadow: 0px 1px 2px rgba(0,0,55,0.5);
position: relative;
margin-bottom: 10px;
}

figure > .resetButton {
	position: absolute;
	background: #FAFAFA;
	color: #333;
	padding: 6px;
	padding-right: 20px;
	border-bottom: 1px solid #AAA;
	border-right: 1px solid #AAA;
	border-bottom-right-radius: 5px;
	letter-spacing: -10px;
	font-size: 26px;
	-webkit-animation: resetButtonAnimation 0.5s ease;
	-webkit-animation-fill-mode: backwards;
	box-shadow: 0px 1px 3px rgba(0,0,55,0.3);
}

figure img {
	margin: 10px;
	width: -webkit-calc(100% - 20px) !important;
	border: 1px solid #ddd;
}

/* Captions */
figcaption {
	text-align: center;
	counter-increment: figure;
	padding: 10px;
	margin-bottom: 25px;
}

figcaption:before {
	content: "Figure "counter(figure)". ";
	font-weight: 500;
}

/* @end */

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation:landscape) {
	/* iPad styles */
	#about-me {
	-webkit-transform: scale(0.8);
	-webkit-transform-origin:100% 0%;
	width: 230px !important;
	
	}
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation:portrait) {
	/* iPad styles */
	body {
	width: 768px !important;
	overflow-x: hidden;
	}
	
	#about-me {
	-webkit-transform: scale(.48) translateX(-5px) translateY(1px);
	-webkit-transform-origin:100% 0%;
	width: 180px !important;
	
	}
	
	#container {
	margin-left: 99px;
	margin-right: 0px;
	}
	
	.permanent-link {
	right: -53px !important;
	-webkit-transform: scale(.8) translateY(-10px);
	-webkit-transform-origin:0% 0%;
	
	}
	
	.date {
	right: -53px !important;
	-webkit-transform: scale(.8);
	-webkit-transform-origin:0% 0%;
	
	}
}


/* @group Quotes */

blockquote {
/*    position: relative;*/
	margin: 15px 40px;
	padding: 4px;
	padding-left: 10px;
	background: -webkit-linear-gradient(left, #fcfcfc, #fcfcfc 35%, rgba(255,255,255, 0.0));	
	border-radius: 5px;
}

blockquote code {
	font-weight: bold;
	font-size: 16px !important;
/*	background-color: transparent !important;*/
}

blockquote p {
    margin-top: 4px;
	margin-bottom: 4px;
}

/*blockquote p:before,
blockquote p:after {
position: absolute;
color: hsl(208, 15%, 82%);
font-family: "Helvetica";
font-style: normal;
font-weight: 900;
font-size: 100px;
line-height: 1em;
z-index: -1;
}

blockquote p:before {
top: -23px;
left: -55px;
content: "“";
}

blockquote p:after {
bottom: -69px;
right: -55px;
content: "”";
}*/

/* @end */

/* @group Code */

code, .math {
	-webkit-hyphens: none;
	word-wrap: break-word;
}

/* Inline code*/
p code, li code {
	font-size: 14px;
	background-color: #fcfcfc;
	border-radius: 3px;
	padding: 1px 3px;
}



/* Code block */
article > pre > code {
	background-color: #fcfcfc;
	border-radius: 3px;
	border: 1px solid #cbcac2;
	display: block;
	padding: 5px 7px;
	line-height: 16px;
	font-size: 14px;
/*	white-space: pre-line;*/
	text-align: left;
/*	width: 605px;*/
	width: -webkit-calc(100% - 5px);
	position: relative;
	left: -5px;
}

/* @end */

hr {
	margin: 40px 5px;
	border: 0;
	height: 3px;
	background: -webkit-radial-gradient(center top, ellipse farthest-side, rgba(0,0,25,0.25) 0%,rgba(0,0,25,0) 100%);
}

img {
	margin-left: auto !important;
	margin-right: auto !important;
	max-width: 610px;
	display: block;
}

/* @group Tags */

.tag {
padding: 0 3px;
/*margin: 2px 8px;*/
/*color: hsl(208, 66%, 56%);*/
display: inline-block;
height: 22px;
/*background-color: hsl(208, 30%, 90%);*/
padding-left: 10px;
position: relative;
border-left: 1px solid hsl(208, 8%, 60%);
font-weight: 500;
font-size: 15px;
}

.tag:first-child {
	border: none;
}

.post-summary footer {
/*	background: red;*/
	text-align: left;
	padding-top: 6px;
	border-top: 1px solid hsl(208, 8%, 60%);
	color: #2f3741;
}



/*.tag:after, .tag:before {
border: solid transparent;
content: ' ';
height: 0;
right: 100%;
position: absolute;
width: 0;
}

.tag:before {
border-width: 11px;
border-right-color: hsl(208, 30%, 90%);
top: 0px;
}

.tag:after {
content: "•";
color: hsl(228, 16%, 96%);
top: -2px;
}*/

/* @end */

/* @group Footnotes */

.footnotes p {
	margin: 0 0 5px 0;
}

.footnotes li {
	margin-bottom: 24px;
}

/* @end */

.autoscaled-svg { 
	position:absolute; top:0; left:0;
	margin: 50px;
	height:-webkit-calc(100% - 100px); 
	width:-webkit-calc(100% - 100px);
/*	background: rgba(25,250,120,0.5);*/
}

@media screen and (max-device-width: 1024px) {
    .post-summary {
    	padding: 15px;
    	width: ;
		margin-top: 20px;
		margin-right: 20px;
		width: 360px;
		min-width: 360px;
	}
	
	#more-posts .post-link:nth-child(2n) .post-summary {
		margin-right: 0;
	}
	
	#more-posts {
		margin-top: 15px;
	}
}

@media screen and (max-width: 800px) {
	.title-header {
		-webkit-transform: rotate(-16.4deg) scale(0.75); 
		margin-bottom: 90px;
		top: 55px;
	}
	#DR-logo {
		-webkit-transform: scale(0.75);
		-webkit-transform-origin: 0 0;
	}
	
	#newest-post .post-summary,
	#more-posts .post-summary {
		width: 600px;
		padding: 25px;
		max-width: 600px;
		margin-right: 0;
	}
	#newest-post .post-summary h1 {
		width: 500px;
		font-size: 28px;
	}
	#newest-post .post-summary time {
	    top: 0px;
	}
	
	.post-summary time p {
		margin-bottom: 0;
	}
	
	#newest-post .post-summary,
	#more-posts .post-link:nth-child(3n+3) .post-summary {
		border-color: #feba00;
	}
	
	#more-posts .post-link:nth-child(3n+1) .post-summary {
		border-color: #40a4e5;
	}
	
	#more-posts .post-link:nth-child(3n+2) .post-summary {
		border-color: hsl(208, 8%, 75%);
	}
}

@media screen and (max-width: 550px), 
screen and (max-device-width: 480px) {
	.title-header {
		-webkit-transform: rotate(-16.4deg) scale(0.55); 
		margin-bottom: 10px;
		top: -10px;
		left: -200px;
	}
	#DR-logo {
		-webkit-transform: scale(0.5);
		-webkit-transform-origin: 0 0;
		top: 10px;
		left: 10px;
	}
	
	#main {
		padding: 12px;
	}
	
	pre > code {
		width: 95%;
	}
	
	blockqoute {
		text-align: left;
	}
		
	.post-summary {
		margin: 0;
		margin-bottom: 25px;
		width: 300px;
		padding: 20px;
	}
	
	.post-summary time {
		display: none;
	}
	
	#newest-post .post-summary h1 {
		width: 100%;
		font-size: 24px;
		text-align: left;
		font-weight: 700;
		color: #2f3741;
		margin-bottom: 25px;
	}
	
	#newest-post .post-summary,
	#more-posts .post-link:nth-child(3n+3) .post-summary {
		border-color: #feba00;
	}
	
	#more-posts .post-link:nth-child(3n+1) .post-summary {
		border-color: #40a4e5;
	}
	
	#more-posts .post-link:nth-child(3n+2) .post-summary {
		border-color: hsl(208, 8%, 75%);
	}
}

@media screen and (max-device-width: 480px) and (orientation:landscape) {
    .title-header {
    	-webkit-transform: rotate(-16.4deg) scale(0.65); 
    	margin-bottom: 70px;
    	top: 25px;
    	left: -100px;
    }
    #DR-logo {
    	-webkit-transform: scale(0.6);
    	-webkit-transform-origin: 0 0;
    	top: 15px;
    	left: 15px;
    }
    .post-summary {
    	width: 440px !important;
    	min-width: 50px;
    	max-width: 440px;
    	margin: 10px 4px;
    	padding: 25px !important;
    	
    }
    #newest-post {
    	margin-top: 100px;
    }
    #more-posts {
    	margin-top: 5px;
    }
    figure {
    	-webkit-transform: scale(0.95);
    	-webkit-transform-origin: 0 0;
    }
   
}

@media screen and (max-device-width: 480px) and (orientation:portrait) {
    .title-header {
    	-webkit-transform: rotate(-16.4deg) scale(0.45); 
    	margin-bottom: 0px;
    	top: -25px;
    	left: -250px;
    }
    .title-header > h1 {
    	width: 560px;
    	right: -120px;
    }
    #DR-logo {
    	-webkit-transform: scale(0.4);
    	-webkit-transform-origin: 0 0;
    	top: 10px;
    	left: 10px;
    }
    .post-summary {
    	width: 246px !important;
    	padding: 15px !important;
    	min-width: 50px;
    	margin: 10px 0;
    }
    
    #more-posts {
    	margin-top: 5px;
    	padding: 0;
    }
    figure {
    	width: 100%;
/*    	padding: 7px;*/
    }
    figure > div {
/*    	width: 80%;*/
/*    	width: -webkit-calc(100% - 20px) !important;*/
/*    	-webkit-transform: scale(0.54);*/
/*    	-webkit-transform-origin: 0 0;*/
    }
    
    figure  code {
    	width: 100%;
    	font-size: 14px;
    }
    
    .autoscaled-svg { 
    	position:absolute; top:0; left:0;
    	margin: 5px;
    	height:-webkit-calc(100% - 10px); 
    	width:-webkit-calc(100% - 10px);
	}
	
	figure > div {
		max-height: 300px;
	}
	
	figure > div  {
		margin: 10px;
		display:-webkit-box;
		-webkit-box-sizing: border-box;
	    -webkit-box-pack:center;
	    -webkit-box-align:center;
	    }
	figure > div > div {
		display:-webkit-box !important;
		-webkit-box-sizing: border-box;
		-webkit-box-pack:center;
		-webkit-box-align:center;
	}    
}



@media screen and (min-width: 1600px) {
	#top-blue-rect {
		background: #4aa5e3;
		width: 2750px;
		height: 1000px;
		right: 0px;
		top: -1000px;
	}
	 
	#top-orange-rect {
		color: #303841;
	 	width: 1700px;
	 	height: 3500px;
		background: #ffb900;
		right: -1700px;
		top: 0px;
	}
}
