---
layout: default
title: David Rönnqvist
---

<section id="newest-post">
  <a class="post-link" href="{{ site.posts.first.url }}"> 
	<article class="post-summary center-shadow">
	  <header>
	    <hgroup>
	      <h1>{{ site.posts.first.title }}</h1>
	      <time pubdate="{{ site.posts.first.date }}"><p>{{ site.posts.first.date | date: "%B" }}<br />{{ site.posts.first.date | date: "%Y" }}</p></time>
	    </hgroup>
	  </header>
	
	  {% if site.posts.first.description %}
	    <p>{{ site.posts.first.description }}</p>
	  {% else %}
	    {{ site.posts.first | only_first_p }}
	  {% endif %}
	
	  <footer>
	  {% for tag in site.posts.first.tags %}
	    <span class="tag">{{ tag }}</span>
	  {% endfor %}
	  </footer>
	</article>
  </a>
</section>

<section id="more-posts">
  {% for post in site.posts offset:1 %}
    <a class="post-link" href="{{ post.url }}">
  	  <article class="post-summary center-shadow">
        <header>
          <h1>{{ post.title }}</h1>
        </header>
        {% if post.description %}
          <p>{{ post.description }}</p>
        {% else %}
          {{ post | only_first_p }}
        {% endif %}

        {% if post.tags %}
          <footer>
          {% for tag in post.tags %}
            <span class="tag">{{ tag }}</span>
          {% endfor %}
          </footer>
        {% endif %}
      </article>
    </a>
  {% endfor %}
</section>
